<div id="header" class="grid p-fluid ml-0">
    <div class="col-5">
        <span class="horizontal ml-3">
            <a><img id="logo" class="mr-1" src="./assets/logo.png" alt="logo"></a>
            <p id="texto-logo" class="m-3">Mercadona</p>
        </span>
    </div>
    <div class="col-1 col-offset-6">
        <div id="boton-login" class="boton boton-gris" *ngIf="!mostrarUsuario">
            <p-button label="{{constantes.iniciar_sesion}}" class="p-button-success" (click)="iniciarSesion()"></p-button>
        </div>
        <div id="usuario-login" class="horizontal"*ngIf="mostrarUsuario">
            <p class="mr-1">{{usuario}}</p>
            <button type="button" pButton pRipple icon="pi pi-sign-out"
            class="p-button-rounded p-button-text p-button-secondary" (click)="logout()"></button>
        </div>
    </div>
</div>